src/main/mule/contractors.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="retrieve-contractors" doc:id="24c17fd1-6189-46e3-b70f-7cb90610d2a5" >
		<os:retrieve-all doc:name="Retrieve all" doc:id="882de299-4bbd-4fad-9f0a-ccf993e0aef6" objectStore="employees_db"/>
	</flow>
	<flow name="add-contractors" doc:id="68cbe295-2948-4839-b56d-17cb3b46001d" >
		<os:store doc:name="Store" doc:id="a37908a5-c4f5-4132-9a2b-95b507546a59" key='#[now() as String {format:"yyyymmddhhmmss"}]' objectStore="employees_db"/>
		<ee:transform doc:name="Transform Message" doc:id="98d3da1c-660e-49a9-9e0e-bd022056f0c9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
